body {margin: 0; padding: 0;}

#box {
    margin: 0 auto;
    width: 80%;
    padding: 30px;

}

.banana {animation: bana 5s infinite;}


@keyframes bana {
    0% {display: block}
    10% {display: none}
    90% {display: none}
    100% {display: none}

}
